openapi: 3.0.0
info:
  title: TTS
  description: API for aishengyun
  version: 1.0.0
servers:
  - url: https://api.aishengyun.cn
paths:
  /v1/audio/speech:
    post:
      tags:
        - speech
      summary: 生成语音
      description: |
        本接口支持两种输出模式：直接生成音频文件或使用 Server-Sent Events (SSE) 进行流式输出。
        ### 二进制流响应说明
          - 响应内容：直接返回音频文件二进制流
          - Content-Disposition 头：包含建议的文件名。示例：`attachment; filename=bf7956ba-33ed-4286-bcbb-3fd8445b824b.wav`
          注意：您可以使用响应头中的文件名或自定义文件名保存音频文件。
        ### Server-Sent Events 流式输出响应说明
          Server-Sent Events (SSE) 是一种服务器向客户端推送流式数据的技术。它适用于无需频繁与服务器进行交互的场景，只需服务器持续生成和推送流式音频数据即可满足需求。   
          如果你要使用 Server-Sent Events 流式输出响应，需要在请求头添加 `Accept: text/event-stream` 来启用流式输出。
        
        :::info
            本接口支持右边调用界面调用
        :::
      
      operationId: post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Speech_Model'
        required: true
      responses:
        '200':
          description: 成功响应，返回音频文件。如果启用 SSE 则返回见下方。
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    description: chunk
                    properties:
                      type:
                        type: string
                        example: chunk
                      status_code:
                        type: integer
                        example: 206
                      data:
                        type: string
                        description: Base64 编码的语音数据
                        example: base64_encoded_speech_data
                      done:
                        type: boolean
                        example: false
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - data
                      - done
                      - context_id
                    example:
                      type: chunk
                      status_code: 206
                      data: base64_encoded_speech_data
                      done: false
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                  - type: object
                    description: error
                    properties:
                      type:
                        type: string
                        example: error
                      status_code:
                        type: integer
                        example: 500
                      done:
                        type: boolean
                        example: true
                      error:
                        type: string
                        example: 语音合成发生错误
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - done
                      - error
                      - context_id
                    example:
                      type: error
                      status_code: 500
                      done: true
                      error: 语音合成发生错误
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                  - type: object
                    description: done
                    properties:
                      type:
                        type: string
                        example: done
                      status_code:
                        type: integer
                        example: 200
                      done:
                        type: boolean
                        example: true
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    example:
                      type: done
                      status_code: 200
                      done: true
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - done
                      - context_id
              examples:
                chunk:
                  value:
                    type: chunk
                    status_code: 206
                    data: base64_encoded_speech_data
                    done: false
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                error:
                  value:
                    type: error
                    status_code: 500
                    done: true
                    error: 语音合成发生错误
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                done:
                  value:
                    type: done
                    status_code: 200
                    done: true
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
        '400':
          description: 输入错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: 数据验证错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: API 调用超出并发量
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: []
    wss:
      tags:
        - speech
      operationId: websocket
      summary: WebSocket 流式语音
      description: |
        用于双向流式语音交互的 WebSocket 连接，该连接支持多路复用，因此您可以并行发送多个请求并接收相应的响应。

        WebSocket API是围绕上下文构建的：

        1. 当您发送生成请求时，您传递一个 `context_id`。对同一 `context_id` 的进一步输入将继续生成，保持韵律。

        2. 上下文的响应包含您传递的 `context_id`，以便您可以匹配请求和响应。

        阅读有关使用[上下文的指南](/guides/contexts)以了解更多信息。

        :::danger
          由于是 websocket，本接口暂时不支持右边调用界面调用
        :::
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Speech_Websocket_Model'
        required: true
      responses:
        '101':
          description: WebSocket 连接成功，开始实时语音合成数据传输
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    description: chunk
                    properties:
                      type:
                        type: string
                        example: chunk
                      status_code:
                        type: integer
                        example: 206
                      data:
                        type: string
                        description: Base64 编码的语音数据
                        example: base64_encoded_speech_data
                      done:
                        type: boolean
                        example: false
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - data
                      - done
                      - context_id
                    example:
                      type: chunk
                      status_code: 206
                      data: base64_encoded_speech_data
                      done: false
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                  - type: object
                    description: error
                    properties:
                      type:
                        type: string
                        example: error
                      status_code:
                        type: integer
                        example: 500
                      done:
                        type: boolean
                        example: true
                      error:
                        type: string
                        example: 语音合成发生错误
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - done
                      - error
                      - context_id
                    example:
                      type: error
                      status_code: 500
                      done: true
                      error: 语音合成发生错误
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                  - type: object
                    description: done
                    properties:
                      type:
                        type: string
                        example: done
                      status_code:
                        type: integer
                        example: 200
                      done:
                        type: boolean
                        example: true
                      context_id:
                        type: string
                        example: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    example:
                      type: done
                      status_code: 200
                      done: true
                      context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                    required:
                      - type
                      - status_code
                      - done
                      - context_id
              examples:
                chunk:
                  value:
                    type: chunk
                    status_code: 206
                    data: base64_encoded_speech_data
                    done: false
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                error:
                  value:
                    type: error
                    status_code: 500
                    done: true
                    error: 语音合成发生错误
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
                done:
                  value:
                    type: done
                    status_code: 200
                    done: true
                    context_id: 09dde5c1-1ac9-4434-9860-b97f9a792072
      security:
        - BearerAuth: []
components:
  schemas:
    Body_create_voices_v1_audio_voices_post:
      properties:
        name:
          type: string
          title: Name
        file:
          type: string
          format: binary
          title: File
        public:
          anyOf:
            - type: boolean
            - type: 'null'
          title: Public
          default: true
        description:
          anyOf:
            - type: string
            - type: 'null'
          title: Description
          default: ''
        language:
          anyOf:
            - type: string
            - type: 'null'
          title: Language
          default: auto
      type: object
      required:
        - name
        - file
      title: Body_create_voices_v1_audio_voices_post
    Body_patch_voice_v1_audio_voices__id__patch:
      properties:
        name:
          type: string
          title: Name
        file:
          type: string
          format: binary
          title: File
        public:
          anyOf:
            - type: boolean
            - type: 'null'
          title: Public
          default: true
        description:
          anyOf:
            - type: string
            - type: 'null'
          title: Description
          default: ''
        language:
          anyOf:
            - type: string
            - type: 'null'
          title: Language
          default: auto
      type: object
      required:
        - name
      title: Body_patch_voice_v1_audio_voices__id__patch
    HTTPValidationError:
      properties:
        code:
          type: integer
          example: 6001
          description: 返回错误码，具体含义见[错误代码](/api/errors)
        message:
          type: string
          example: Field required, missing body
          description: 错误信息
    MP3_Format_Model:
      properties:
        container:
          type: string
          title: Container
          description: 音频格式，支持 `wav`，`mp3` 或 `raw`。
          example: wav
        sample_rate:
          type: integer
          title: Sample Rate
          description: 采样率，支持 `8000`, `16000`, `22050`, `24000`, `32000`, `44100`, `48000`。
          example: 24000
        encoding:
          type: string
          title: Encoding
          description: 编码类型，可选值：`pcm_s16le`，`pcm_mulaw`，`pcm_alaw`，container 为 `wav`，或 `raw` 必选
          example: pcm_s16le
        bit_rate:
          type: integer
          title: Bit Rate
          description: 比特率，支持 `8000`，`16000`，`22050`，`24000`，`32000`，`44100`，`48000`，container 为 `mp3` 必选。
          example: 32000
      type: object
      required:
        - container
        - encoding
      title: MP3_Format_Model
      description: MP3 格式模型，继承 PCM_Format_Model
    ModelId:
      type: string
      enum:
        - emotion-tts-v1
      title: ModelId
      description: 可用的语音合成模型
    Speech_Model:
      properties:
        model_id:
          $ref: '#/components/schemas/ModelId'
          title: 语音合成模型
          description: 选择用于合成的 TTS 模型
          example: emotion-tts-v1
        transcript:
          type: string
          title: 要合成语音的文字
          description: 需要合成的文本
          example: 你好，欢迎使用语音合成服务。
        voice:
          $ref: '#/components/schemas/VoiceModel-Input'
          description: 语音参数
        output_format:
          $ref: '#/components/schemas/MP3_Format_Model'
          description: 输出格式参数，MP3
        language:
          type: string
          title: Language
          description: 语言，支持 `zh`、`en`、`jp`、`auto`
          example: zh
        context_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Context Id
          description: 上下文 ID，可用于句子间的连续合成
          default: ''
          example: session-12Te3grseYEsuyt
      type: object
      required:
        - model_id
        - transcript
        - voice
        - output_format
        - language
      title: Speech_Model
      description: 语音合成请求
    Speech_Websocket_Model:
      properties:
        model_id:
          $ref: '#/components/schemas/ModelId'
          title: 语音合成模型
          description: 选择用于合成的 TTS 模型
          example: emotion-tts-v1
        transcript:
          type: string
          title: 要合成语音的文字
          description: 需要合成的文本
          example: 你好，欢迎使用语音合成服务。
        voice:
          $ref: '#/components/schemas/VoiceModel-Input'
          description: 语音参数
        output_format:
          $ref: '#/components/schemas/MP3_Format_Model'
          description: 输出格式参数，MP3
        language:
          type: string
          title: Language
          description: 语言，支持 `zh`、`en`、`jp`、`auto`
          example: zh
        context_id:
          type: string
          title: Context Id
          description: 上下文 ID，可用于句子间的连续合成
          default: ''
          example: session-12Te3grseYEsuyt
      type: object
      required:
        - model_id
        - transcript
        - voice
        - output_format
        - language
        - context_id
      title: Speech_Model
      description: 语音合成请求
    Speech_Response_Model:
      properties:
        model_id:
          $ref: '#/components/schemas/ModelId'
          title: 语音合成模型
          description: 选择用于合成的 TTS 模型
          example: emotion-tts-v1
        transcript:
          type: string
          title: 要合成语音的文字
          description: 需要合成的文本
          example: 你好，欢迎使用语音合成服务。
        voice:
          $ref: '#/components/schemas/VoiceModel-Input'
          description: 语音参数
        output_format:
          $ref: '#/components/schemas/MP3_Format_Model'
          description: 输出格式参数，MP3
        language:
          type: string
          title: Language
          description: 语言，支持 `zh`、`en`、`jp`、`auto`
          example: zh
        context_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Context Id
          description: 上下文 ID，可用于句子间的连续合成
          default: ''
          example: session-12Te3grseYEsuyt
      type: object
      required:
        - model_id
        - transcript
        - voice
        - output_format
        - language
      title: Speech_Model
      description: 语音合成请求
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    VoiceListResponse:
      properties:
        code:
          type: integer
          title: Code
          description: 响应码，0 表示成功
          default: 0
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: 响应信息
          example: 操作成功
        data:
          items:
            $ref: '#/components/schemas/VoiceModel-Output'
          type: array
          title: Data
          description: 语音模型列表
      type: object
      title: VoiceListResponse
      description: 多个语音模型的 API 响应
      example:
        code: 0
        data:
          - description: 适用于儿童故事朗读
            id: RtLJEhPFTgDhYKfDmMRs7Y
            language: zh
            name: 小明
            public: true
            role: USER
          - description: 适用于新闻播报
            id: "\tzh_female_jiayi"
            language: en
            name: 小红
            public: false
            role: SYSTEM
        message: 操作成功
    VoiceModel-Input:
      properties:
        mode:
          type: string
          title: Mode
          description: 语音模式，`id`
          example: id
        id:
          type: string
          title: Id
          description: 语音的唯一 ID
          example: zh_male_haoran
        required:
          - mode
          - id
      type: object
      required:
        - mode
      title: VoiceModel
      description: 语音模型
    VoiceModel-Output:
      properties:
        id:
          type: string
          title: Id
          description: 语音 ID
          example: RtLJEhPFTgDhYKfDmMRs7Y
        name:
          type: string
          title: Name
          description: 语音名称
          example: 小明
        public:
          type: boolean
          title: Public
          description: 是否公开
          example: true
        description:
          type: string
          title: Description
          description: 语音描述信息
          example: 适用于儿童故事朗读
        language:
          type: string
          title: Language
          description: 语音所属语言
          example: zh
        role:
          $ref: '#/components/schemas/VoiceType'
          description: 语音角色类型
          example: narrator
        created_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Created At
          description: 创建时间，仅管理员可见
        updated_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Updated At
          description: 更新时间，仅管理员可见
      type: object
      required:
        - id
        - name
        - public
        - description
        - language
        - role
      title: VoiceModel
      description: 语音模型信息
      example:
        description: 适用于儿童故事朗读
        id: RtLJEhPFTgDhYKfDmMRs7Y
        language: zh
        name: 小明
        public: true
        role: USER
    VoiceResponse:
      properties:
        code:
          type: integer
          title: Code
          description: 响应码，0 表示成功
          default: 0
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: 响应信息
          example: 操作成功
        data:
          anyOf:
            - $ref: '#/components/schemas/VoiceModel-Output'
            - type: 'null'
          description: 语音模型数据
      type: object
      title: VoiceResponse
      description: 单个语音模型的 API 响应
      example:
        code: 0
        data:
          description: 适用于儿童故事朗读
          id: RtLJEhPFTgDhYKfDmMRs7Y
          language: zh
          name: 小明
          public: true
          role: USER
        message: 操作成功
    VoiceType:
      type: string
      enum:
        - SYSTEM
        - USER
      title: VoiceType
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
