openapi: 3.0.0
info:
  title: Aishenyun API
  description: API for aishengyun
  version: 1.0.0
servers:
  - url: https://api.aishengyun.cn
paths:
  /v1/audio/voices:
    get:
      tags:
        - voices
      summary: 语音列表
      description: |
        获取语音列表
        :::info
            本接口支持右边调用界面调用
        :::
      operationId: list
      responses:
        '200':
          description: 成功获取
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceListResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - voices
      summary: 复刻语音
      description: |
        语音标准详见[声音复刻指南](/guides/clone)
        :::info
            本接口支持右边调用界面调用
        :::
      operationId: create
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_voices_v1_audio_voices_post'
        required: true
      responses:
        '200':
          description: 成功复刻
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponse'
        '422':
          description: 数据验证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '400':
          description: 用户数据错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '415':
          description: 不支持的音频文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: []
    delete:
      tags:
        - voices
      summary: 删除声音
      description: |
        删除一个复刻声音

        :::info
            本接口支持右边调用界面调用
        :::
      operationId: delete
      requestBody:
        content:
          application/json:
            schema:
               properties:
                id:
                  type: string
                  description: ID
                  example: drYrwn53gResxk
      responses:
        '200':
          description: 成功删除
          content:
            application/json:
              schema: 
                properties:
                  code:
                    type: integer
                    description: 状态码
                    example: 0
                  data:
                    type: string
                    description: 被删除的 ID
                    example: drYrwn53gResxk
        '404':
          description: 没有找到语音 ID
          content:
            application/json:
              schema: 
                properties:
                  code:
                    type: integer
                    description: 状态码
                    example: 9003
                  message:
                    type: string
                    description: 失败消息
                    example: Not Found
        '422':
          description: 数据验证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: []
  /v1/audio/voices/{id}:
    get:
      tags:
        - voices
      summary: 语音信息
      description: |
        获取语音信息
        :::info
            本接口支持右边调用界面调用
        :::
      operationId: get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: Id
      responses:
        '200':
          description: 成功获取
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponse'
        '404':
          description: 数据不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: 数据验证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: []
    patch:
      tags:
        - voices
      summary: 更新语音
      description: |
        更新语音语音
        :::info
            本接口支持右边调用界面调用
        :::
      operationId: update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_patch_voice_v1_audio_voices__id__patch'
      responses:
        '200':
          description: 成功更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponse'
        '400':
          description: 用户数据错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '415':
          description: 不支持的音频文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: 数据验证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: []
components:
  schemas:
    Body_create_voices_v1_audio_voices_post:
      properties:
        name:
          type: string
          title: 名称
          description: 语音的名称
        file:
          type: string
          format: binary
          title: 语音文件
          description: 复刻语音的音频文件，支持 `wav` 和 `mp3` 格式，音频时间长度不超过 30 秒。
        public:
          anyOf:
            - type: boolean
              description: 默认公开
            - type: 'null'
              description: 'null'
          title: 是否公开
          default: true
        description:
          anyOf:
            - type: string
              description: 语音描述
            - type: 'null'
          title: Description
          default: ''
        language:
          anyOf:
            - type: string
              description: 语音的语言
            - type: 'null'
          title: Language
          default: auto
        model_id:
          type: string
          title: 名称
          description: 复刻的模型名称，默认 `emotion-tts-v1`
          example: emotion-tts-v1
      type: object
      required:
        - name
        - file
      title: Body_create_voices_v1_audio_voices_post
    Body_patch_voice_v1_audio_voices__id__patch:
      properties:
        name:
          type: string
          title: 名称
          description: 语音的名称
        file:
          type: string
          format: binary
          title: 语音文件
          description: 复刻语音的音频文件，支持 `wav` 和 `mp3` 格式，音频时间长度不超过 30 秒。
        public:
          anyOf:
            - type: boolean
              description: 默认公开
            - type: 'null'
          title: 是否公开
          default: true
        description:
          anyOf:
            - type: string
              description: 语音描述
            - type: 'null'
          title: Description
          default: ''
        language:
          anyOf:
            - type: string
              description: 语音的语言
            - type: 'null'
          title: Language
          default: auto
      type: object
      required:
        - name
      title: Body_patch_voice_v1_audio_voices__id__patch
    HTTPValidationError:
      properties:
        code:
          type: integer
          example: 6001
          description: 返回错误码，具体含义见[错误代码](/api/errors)
        message:
          type: string
          example: Field required, missing body
          description: 错误信息
      type: object
      title: HTTPValidationError
    MP3_Format_Model:
      properties:
        container:
          type: string
          title: Container
          description: 音频格式，支持 `wav` 或 `raw`
          example: wav
        encoding:
          type: string
          title: Encoding
          description: 编码类型，可选值：`pcm_s16le`，`pcm_mulaw`，`pcm_alaw`
          example: pcm_s16le
        sample_rate:
          type: integer
          title: Sample Rate
          description: 采样率，支持 `8000`, `16000`, `22050`, `24000`, `32000`, `44100`, `48000`
          example: 44100
        bit_rate:
          type: integer
          title: Bit Rate
          description: 比特率，支持 `8000`，`16000`，`22050`，`24000`，`32000`，`44100`，`48000`
          example: 32000
      type: object
      required:
        - container
        - encoding
        - sample_rate
        - bit_rate
      title: MP3_Format_Model
      description: MP3 格式模型，继承 PCM_Format_Model
    ModelId:
      type: string
      enum:
        - emotion-tts-v1
      title: ModelId
      description: 可用的语音合成模型
    Speech_Model:
      properties:
        model_id:
          $ref: '#/components/schemas/ModelId'
          title: 语音合成模型
          description: 选择用于合成的 TTS 模型
          example: emotion-tts-v1
        transcript:
          type: string
          title: 要合成语音的文字
          description: 需要合成的文本
          example: 你好，欢迎使用语音合成服务。
        voice:
          $ref: '#/components/schemas/VoiceModel-Input'
          description: 语音参数
        output_format:
          $ref: '#/components/schemas/MP3_Format_Model'
          description: 输出格式参数，MP3
        language:
          type: string
          title: Language
          description: 语言，支持 `zh`、`en`、`jp`、`auto`
          example: zh
        context_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Context Id
          description: 上下文 ID，可用于句子间的连续合成
          default: ''
          example: session-12Te3grseYEsuyt
      type: object
      required:
        - model_id
        - transcript
        - voice
        - output_format
        - language
      title: Speech_Model
      description: 语音合成请求
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    VoiceListResponse:
      properties:
        code:
          type: integer
          title: Code
          description: 响应码，0 表示成功
          default: 0
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: 响应信息
          example: 操作成功
        data:
          items:
            $ref: '#/components/schemas/VoiceModel-Output'
          type: array
          title: Data
          description: 语音模型列表
      type: object
      title: VoiceListResponse
      description: 多个语音模型的 API 响应
      example:
        code: 0
        data:
          - description: 适用于儿童故事朗读
            id: RtLJEhPFTgDhYKfDmMRs7Y
            language: zh
            name: 小明
            public: true
            role: USER
          - description: 适用于新闻播报
            id: "\tzh_female_jiayi"
            language: en
            name: 小红
            public: false
            role: SYSTEM
        message: 操作成功
    VoiceModel-Input:
      properties:
        mode:
          type: string
          title: Mode
          description: 语音模式，`id`
          example: id
        id:
          anyOf:
            - type: string
            - type: 'null'
          title: Id
          description: 语音的唯一 ID
          example: zh_male_haoran
      type: object
      required:
        - mode
      title: VoiceModel
      description: 语音模型
    VoiceModel-Output:
      properties:
        id:
          type: string
          title: Id
          description: 语音 ID
          example: RtLJEhPFTgDhYKfDmMRs7Y
        name:
          type: string
          title: Name
          description: 语音名称
          example: 小明
        public:
          type: boolean
          title: Public
          description: 是否公开
          example: true
        description:
          type: string
          title: Description
          description: 语音描述信息
          example: 适用于儿童故事朗读
        language:
          type: string
          title: Language
          description: 语音所属语言
          example: zh
        role:
          $ref: '#/components/schemas/VoiceType'
          description: 语音角色类型
          example: SYSTEM
        created_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Created At
          description: 创建时间
        updated_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Updated At
          description: 更新时间
      type: object
      required:
        - id
        - name
        - public
        - description
        - language
        - role
      title: VoiceModel
      description: 语音模型信息
      example:
        description: 适用于儿童故事朗读
        id: RtLJEhPFTgDhYKfDmMRs7Y
        language: zh
        name: 小明
        public: true
        role: USER
    VoiceResponse:
      properties:
        code:
          type: integer
          title: Code
          description: 响应码，0 表示成功
          default: 0
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: 响应信息
          example: 操作成功
        data:
          anyOf:
            - $ref: '#/components/schemas/VoiceModel-Output'
            - type: 'null'
          description: 语音模型数据
      type: object
      title: VoiceResponse
      description: 单个语音模型的 API 响应
      example:
        code: 0
        data:
          description: 适用于儿童故事朗读
          id: RtLJEhPFTgDhYKfDmMRs7Y
          language: zh
          name: 小明
          public: true
          role: USER
        message: 操作成功
    VoiceType:
      type: string
      enum:
        - SYSTEM
        - USER
      title: VoiceType
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
